@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color:  hsl(235, 94%, 93%);
    font-family: Poppins;
    height: 900px;
}
.parent{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lurjidiv {
    width: 300px;
    height: 350px;
    background-color: hsl(241, 81%, 54%);
    border-radius: 20px;
    position: relative;
    left: 30px;

}
.tetridiv {
    width: 300px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.tetridiv p {
    position: relative;
    left: 50px;
}

.tetridiv button{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 60px;
    width: 200px;
    height: 35px;
    padding-top: 9px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-family: Poppins;
    padding-left: 10px;

}
#but1 {
    color: hsl(0, 100%, 67%);
    background-color:  hsl(0, 100%, 98%);
    text-align: left;
}
#but2 {
    color: hsl(39, 100%, 56%);
    background-color: hsl(39, 100%, 97%);
    text-align: left;
}

#but3 {
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 96%);
    text-align: left;
}
#but4 {
    color: hsl(234, 85%, 45%);
    background-color:  hsl(236, 100%, 97%);
    text-align: left;
}
.lurjiwre {
    width: 150px;
    height: 150px;
    background-color: blue;
    border-radius: 100px;
    position: relative;
    left: 70px;
    bottom: 140px;
}
.lurjiwre p {
    width: 2px;
    height: 2px;
    font-size: 45px;
    color: aliceblue;
    position: relative;
    left: 45px;
    top: 35px;
}
#p100 {
   width: 50px;
   height: 50px;
   font-size: 11px;
   color: rgb(180, 180, 180);
   margin-top: 55px;
   margin-left: 10px;
}
.lurjidiv .clasp {
    display: flex;
    justify-content: center;
    position: relative;
    top: 160px;
    right: 7px;
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 10px;
} 
.lurjidiv pre {
    margin-bottom: 10px;
    color: rgb(179, 179, 179);
    display: flex;
    justify-content: center;
    position: relative;
    top: 160px;
    font-size: 13px;

}
#urres {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 18px;
    color: rgb(212, 212, 212);
}
#but5 {
    color: aliceblue;
    border-radius: 40px;
    padding-top: 7px;
    background-color: rgb(40, 41, 59);
}

#p80100 {
    position: relative;
    bottom: 35px;
    padding-left: 70px;
    color: rgb(40, 41, 59);
}
span {
    color: grey;
}
#p92100 {
    color: rgb(40, 41, 59);
    position: relative;
    bottom: 35px;
    padding-left: 70px;
}
#p61100 {
    color: rgb(40, 41, 59);
    position: relative;
    bottom: 35px;
    padding-left: 70px;
}
#p73100 {
    color: rgb(40, 41, 59);
    position: relative;
    bottom: 35px;
    padding-left: 70px;
}






