
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(275, 100%, 97%);
    font-family: "Work Sans";
}



.child1 {
    background-color: white;
    width: 580px;
    height: 500px;
    margin-top: 100px;
    z-index: 2;
    border-radius: 15px;
    box-shadow: 5px black;
    padding: 20px;
}

.divimg {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    height: 40vh;
    width: 100%;
    position: absolute;

}


.grandmother {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.pimg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.pimg #p1 {
    font-size: 37px;
    font-weight: 700;
}

.seconddiv {
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
#p3 {
    width: 370px;
    color: rgb(190, 190, 190);
    font-size: 14px;
}

#p2 {
    font-weight: 600;
}

hr {
    border: 1px solid rgb(227, 227, 227) ;
}

#img11 {
    position: relative;
    left: 305px;
    top: 10px;

}

#img22 {
    position: relative;
    left: 92px;
    top: 10px;

}

#img33 {
    position: relative;
    left: 134px;
    top: 10px;
}

#p4 {
    font-weight: 600;
}

#p5 {
    font-weight: 600;
}

#p6{
    font-weight: 600;
}

#imgdaumarcxebeli {
    position: relative;
    left: 100px;
}