
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    font-family: Montserrat;
}

.parent {
    width: 900px;
    height: 400px;
    display: grid;
    grid-template-areas: 
    "div1 div2 div3"
    ;
}


.div1 {

    grid-area: div1;
    height: 370px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.div2 {
    color: white;
    border-radius: 15px;
    grid-area: div2;
    height: 400px;
    width: 300px;
    text-align: center;
    background: linear-gradient(hsl(237, 73%, 79%), hsl(238, 63%, 64%));
}

.div3 {
    grid-area: div3;
    height: 370px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    text-align: center;
    padding-top: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}


.minichild {
    height: 350px;
    width: 300px;
    text-align: center;
    padding-top: 30px;

}

#p1 {
    font-size: 15px;
    font-weight: 600;
}

#p2 {
    font-size: 60px;
}

#p3 {
    position: relative;
    top: 7px;
}

#p4 {
    position: relative;
    top: 7px;

}

#p5 {
    position: relative;
    top: 7px;
}

span {
    font-size: 25px;
    position: relative;
    bottom: 5px;
}


button {
    width: 230px;
    height: 35px;
    border: none;
    color: white;
    font-family: Montserrat;
    border-radius: 10px;
    margin-top: 30px;
}

hr {
    width: 250px;
    margin-left: 25px;
    border: 1px rgb(232, 231, 231) solid;
}

#button1 {
    position: relative;
    bottom: 20px;
    color: hsl(0, 0%, 100%);
}

.div11 {
    position: relative;
    top: 30px;
}

#p11 {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: 30px;

}

#p22 {
    font-size: 60px;
    position: relative;
    top: 20px;
}

#button1 {
    position: relative;
    top: 2px;
    background: linear-gradient(hsl(237, 73%, 79%), hsl(238, 63%, 64%));
}

#button2 {
    background-color: white;
    color:  hsl(238, 63%, 64%);
    position: relative;
    bottom: 15px;
}

#button3 {
    background: linear-gradient(hsl(237, 73%, 79%), hsl(238, 63%, 64%));;

}
